<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guide.mapper.SharingMapper">
  <resultMap id="BaseResultMap" type="guide.bean.Sharing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="attractionId" jdbcType="INTEGER" property="attractionid" />
    <result column="wxId" jdbcType="VARCHAR" property="wxid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="publishTime" jdbcType="TIMESTAMP" property="publishtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, attractionId, wxId, content, publishTime
  </sql>
  <select id="selectByExample" parameterType="guide.bean.SharingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sharing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sharing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sharing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="guide.bean.SharingExample">
    delete from sharing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="guide.bean.Sharing" useGeneratedKeys="true">
    insert into sharing (attractionId, wxId, content, 
      publishTime)
    values (#{attractionid,jdbcType=INTEGER}, #{wxid,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{publishtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="guide.bean.Sharing" useGeneratedKeys="true">
    insert into sharing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attractionid != null">
        attractionId,
      </if>
      <if test="wxid != null">
        wxId,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="publishtime != null">
        publishTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attractionid != null">
        #{attractionid,jdbcType=INTEGER},
      </if>
      <if test="wxid != null">
        #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null">
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guide.bean.SharingExample" resultType="java.lang.Long">
    select count(*) from sharing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sharing
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.attractionid != null">
        attractionId = #{record.attractionid,jdbcType=INTEGER},
      </if>
      <if test="record.wxid != null">
        wxId = #{record.wxid,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.publishtime != null">
        publishTime = #{record.publishtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sharing
    set id = #{record.id,jdbcType=INTEGER},
      attractionId = #{record.attractionid,jdbcType=INTEGER},
      wxId = #{record.wxid,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      publishTime = #{record.publishtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="guide.bean.Sharing">
    update sharing
    <set>
      <if test="attractionid != null">
        attractionId = #{attractionid,jdbcType=INTEGER},
      </if>
      <if test="wxid != null">
        wxId = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null">
        publishTime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="guide.bean.Sharing">
    update sharing
    set attractionId = #{attractionid,jdbcType=INTEGER},
      wxId = #{wxid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      publishTime = #{publishtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>